<<<<<<< Updated upstream
<div class="container">
<h1 class="text-center">編集してください</h1>
=======
<<<<<<< Updated upstream
<h1>編集してください</h1>
=======
<div class="container" >
<h1 class="text-center">編集してください</h1>
>>>>>>> Stashed changes
>>>>>>> Stashed changes

<%= render 'form', meeting: @meeting %>
<div class="text-center">
<%= link_to '詳細', @meeting %> |
<%= link_to '戻る', meetings_path %>
<<<<<<< Updated upstream
</div>
</div>
=======
<<<<<<< Updated upstream
=======
</div>
</div>
>>>>>>> Stashed changes
>>>>>>> Stashed changes
