<div class="container" >
  <div class="border text-center">
    <h1 class="">編集してください</h1>
    <%= render 'form', meeting: @meeting %>
    <div>
      <%= link_to '詳細', @meeting, class: "fs-3 text-primary"%> |
      <%= link_to '戻る', meetings_path, class: "fs-3 text-primary" %>
    </div>
  </div>
</div>


