<<<<<<< Updated upstream
=======
<div class="background image">

    

>>>>>>> Stashed changes
<%  if user_signed_in? && @motion%>
<%@motion.each do |motion|%>
<li><%= link_to "今日の項目", motion_path(motion.id), class: "user-nickname"%></li> 
<% end%>
<% end %>
