
<div class="background image">
<%  if user_signed_in? && @motion%>
<% current_user.motion.each do |motion|%>
<div class="btn">
<li><%= link_to "今日の項目", motion_path(motion.id), class: "show btn"%></li> 
</div>
<% end%>
<% end %>
</div>
