@import "bootstrap";


div[data-check="true"] {
  background-color: red;
}


.top-image{
  background: url(https://publicdomainq.net/images/202106/05s/publicdomainq-0055890rbu.jpg);
  background-size: cover;
}


a,li{
  color: black;
  text-decoration: black;
  list-style: none;
}

