

.wrapper {
  padding-top: 30px;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 700px;
}

.font {
  font-size: 20px;
}


.taining-left {
  height: 250px;
  width: 50%;
  font-size: 24px;
  display: block;
}

.training-list {
  border: 1px solid;
  height: 30px;
  padding-bottom: 20px;
  margin: 0 0 0 10px;
}

.weight-right {
width: 50vw;
line-height: 30px;
}

.weight {
}

.bmi {
  width: 100%;
  text-align: center;
  height: 245px;
  margin-left: 10px;
}
.login {
  margin-right: 33px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  
}

.memo {
  border: solid 1px;
  height: 195px;
}

.row {
  border: solid 1px;
  height: 240px;
}

.border {
  border: 1px solid black;

}

.border th, .border td  {
  border: 1px solid black;
}
.btn {
 padding: 10px;
 border-radius: 5px;
}


.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}



