.wrapper {
  display: flex;
  width: 100%;
  background-color: red;
  margin: 0 auto;
  height: 500px;
  
}


.taining-left {
  width: 50%;
  font-size: 24px;
  display: block;
}

.training-list {
  border: 1px solid;
  height: 50px;
  padding-bottom: 20px;
  margin: 0 0 0 10px;
}

.weight-right {

}

.bmi {
}
.login {
  margin-right: 33px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  
}
.border {
  border: 1px solid black;

}

.border th, .border td  {
  border: 1px solid black;
}
.btn {
display: inline-block;
 background-color: blue;
 padding: 10px;
 border-radius: 5px;
}


